.container {
  display: grid;
  grid-template-rows: 0.1fr 0.85fr;
  background-color: var(--clr-primary-700);
  min-height: 100%;
  max-width: 100%;
}

.views {
  width: 99%;
  height: 99%;
  margin-top: 1em;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr;
}

.output {
  background-color: white;
  color: black;
  max-width: 100%;
  min-height: 20rem;
}


#runcode-button {
  background-color: var(--clr-primary-900);
  border-radius: 0px;
  z-index: 1;
  position: absolute;
  bottom: 1.8em;
  right: 0.2em;
  width: 10em;
  margin-right: 1em;
  margin-left: auto;
  cursor: pointer;
}

.changeViewButtons {
  text-align: start;
  display: flex;
  margin-bottom: 0px;
  margin-top: auto;

}

#languages {
  width: 30%;
  position: absolute;
  bottom: 2em;
  padding-left: 1em;
  font-size: 1em;
  margin-left: 0.4em;
  border-radius: 10px;
  background-color: black;
  color: #FFF;
  max-height: 5em;
}


.changeViewButtons button {
  margin-right: 1em;
}


.codeEditor {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}


@media(min-width:47em) {
  .views {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }


  .codeEditor {
    max-width: 100%;
    min-height: 100%;
  }

  .output {
    border: 1px solid black;
    max-width: 100%;
    min-height: 100%;

  }

  #languages {
    border-radius: 0;
    left: 0em;
    bottom: 0.2em;
    width: 46%;
  }
}