nav {
  min-height: 100%;
  background-color: var(--clr-primary-900);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.links button {

  margin-bottom: 0.2em;
  margin-right: 0.5em;
  width: 5em;
  border-radius: 5px;
  font-size: 0.6em;
}

.logo {
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 1em;
  display: flex;
  align-items: center;
  color: white;
}

h2:hover {
  color: rgb(198, 198, 198)
}

.logo .penInfo span {
  display: block;
  margin-left: 1em;
  font-size: 0.7em;

}


h2 {
  font-family: var(--ff-handwritten);
  color: white;
  font-size: 0.8em;
}

@media(min-width:47em) {

  h2 {
    font-size: 1em;
  }
}