.container {
  display: grid;
  grid-template-rows: 0.3fr 0.25fr 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: var(--clr-primary-700);
  min-height: 100%;
  max-width: 100%;
}


#codeOutput {
  background-color: white;
  color: black;
  min-height: 100%;
  width: 100vw;
  overflow: scroll;

}

.changeEditorButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  max-width: 100%;
}

.changeEditorButtons button {
  background-color: var(--clr-primary-500);
  width: 6em;
  height: 3em;
  margin: 0 0.4em 0 0;
  max-width: 100%;

}

.changeEditorButtons button:hover {
  background-color: var(--clr-primary-600);
}

.editors {
  min-height: 100%;
  max-width: 100%;
}

@media(min-width:47em) {
  .container {
    grid-template-rows: 0.2fr 1fr 0.8fr;
  }

  .editors {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;

  }


  .html, .css, .javascript {
    min-height: 100%;
    min-width: 100%;
  }
}