<div class="container">
  <app-top-navbar [editor]="true"></app-top-navbar>
  <div class="changeEditorButtons" *ngIf="editorButtons">
    <button (click)="changeEditor('HTML')">HTML</button>
    <button (click)="changeEditor('CSS')">CSS</button>
    <button (click)="changeEditor('JS')">JS</button>
  </div>
  <div class="editors">
    <div class="html" *ngIf="div1">
      <ngx-monaco-editor
        (keypress)="runCode()"
        style="min-height: 90%; max-width: 100%"
        [options]="htmlEditorOptions"
        [(ngModel)]="htmlCode"
      ></ngx-monaco-editor>
    </div>
    <div class="css" *ngIf="div2">
      <ngx-monaco-editor
        style="min-height: 90%; max-width: 100%"
        [options]="cssEditorOptions"
        [(ngModel)]="cssCode"
      ></ngx-monaco-editor>
    </div>
    <div class="javascript" *ngIf="div3">
      <ngx-monaco-editor
        style="min-height: 90%; max-width: 100%"
        [options]="jsEditorOptions"
        [(ngModel)]="jsCode"
      ></ngx-monaco-editor>
    </div>
  </div>
  <div id="output">
    <div [innerHtml]="htmlCode">
      {{ output }}
    </div>
  </div>
</div>
