<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="logo">
          <h2>GingerPen</h2>
        </div>
      </div>
    </nav>

    <section>
      <div class="codeEditor">
        <!-- <textarea
          name=""
          id="codeArea"
          cols="30"
          rows="10"
          [(ngModel)]="code"
        ></textarea> -->
        <ngx-monaco-editor
          style="height: 70vh; width: 70vw"
          [options]="editorOptions"
          [(ngModel)]="code"
        ></ngx-monaco-editor>
        <h1>{{ code }}</h1>
      </div>
      <button type="submit" (click)="runCode()">Run Code</button>
    </section>
  </body>
</html>

<router-outlet></router-outlet>
