<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="container">
    <app-top-navbar></app-top-navbar>
    <div class="login-container">
      <h2 class="login-heading">Log In!</h2>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <input required type="text" placeholder="Email or Username" name="data" [(ngModel)]="data" />
        <input required type="password" placeholder="Password" name="password" [(ngModel)]="password" />
        <button class="login-btn" type="submit" [disabled]="!loginForm.form.valid">
          Login
        </button>
      </form>
    </div>
  </div>
</body>

</html>