<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <a routerLink="/code" routerLinkActive="active">
          <span><i class="fa-solid fa-code"></i></span
        ></a>
        <a routerLink="/web" routerLinkActive="active"
          ><span><i class="fa-brands fa-html5"></i></span
        ></a>
      </div>
      <div class="info">
        <h1>GingerPen</h1>
        <h2>Write, Edit, Run......</h2>
        <p>Use GingerPen to write run and edit your code on the go!</p>
        <button class="btn-primary" type="submit">Get Started</button>
      </div>
      <div class="home-image">
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-java"></i>
        <i class="fa-brands fa-css3"></i>
      </div>
    </div>
  </body>
</html>
