/* You can add global styles to this file, and also import other style files */

:root {

  /* --clr-primary-100: #ffffff;
  --clr-primary-800: #201634;
  --clr-primary-700: #483372;
  --clr-primary-900: #1c1423; */
  --clr-primary-100: #ffffff;
  --clr-primary-500: #00394F;
  --clr-primary-600: #000506;
  --clr-primary-700: #001219;
  --clr-primary-900: #000000;
  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Open Sans', sans-serif;
  --ff-handwritten: 'Pacifico';
}


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}




*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body, h1, h2, h3, p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}






body {
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 900;
  line-height: 1;

}

.bg-dark {
  background-color: var(--clr-primary-900);
}

.bg-light {
  background-color: var(--clr-primary-100);
}

.bg-medium {
  background-color: var(--clr-primary-700);
}

.bg-accent {
  background-color: var(--clr-primary-300);
}


/*Utilities*/

button {
  width: 90px;
  height: 50px;
  color: white;
  background-color: var(--clr-primary-500);
  padding: 10px;
  border: 0px;
  border-radius: 2px;
}

button:hover {
  background-color: var(--clr-primary-600);
}